header {
    background-color: var(--sec-color);
}

.nav-links {
    padding: .5em 2em;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 1em;
}

.nav-link a{
    text-decoration: none;
    color: black;
}

.nav-link a:hover {
    color: var(--pri-darker-color);
    transition: all 100 ease-in-out;
}